/* 
  Author : Bheem Singh
  Theme : Restaurant Online Food Order System
  Version: 1.0
*/

/***************** Css for All ****************************/

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-family: "Foldit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.text-allign-center {
  text-align: center;
}

.wrapper {
  border: 1px solid black;
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

/***************** Css for Menu section starts here ****************************/

/* It will remove the black dot line from the ul */
.menu ul li {
  list-style-type: none;
}

/* Css between home about foods  */
.wrapper ul li {
  display: inline;
  padding: 2%;
  font-weight: bold;
}

.wrapper ul li a {
  text-decoration: none;
  color: rgb(124, 24, 24);
}

.wrapper ul li a:hover {
  color: rgb(245, 242, 45);
  font-size: 18px;
}

/***************** Css for footer ****************************/
.footer {
  background-color: blue;
  color: rgb(252, 250, 246);
}
.footer a {
  color: rgb(246, 16, 16);
}
