/* 
  Author : Bheem Singh
  Theme : Restaurant Online Food Order System
  Version: 1.0
*/

/***************** Css for All ****************************/

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-family: "Foldit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.text-allign-center {
  text-align: center;
}

.wrapper {
  /* border: 1px solid black; */
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

/* css for fixing of overflow in div but currently not working*/
.clearfix {
  float: none;
  clear: both;
}

/* css for fixing of overflow in div */
.overflow {
  overflow: auto;
}

.tbl-width-full {
  width: 100%;
}

table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

/***************** Css for Menu section starts here ****************************/

.menu {
  background-color: rgb(35, 35, 54);
}

/* It will remove the black dot line from the ul */
.menu ul li {
  list-style-type: none;
}

/* Css between home about foods  */
.wrapper ul li {
  display: inline;
  padding: 2%;
  font-weight: bold;
}

.wrapper ul li a {
  text-decoration: none; /* It will remove the underscore below the ul li of nav bar or menu section*/
  color: rgb(255, 255, 255);
}

.wrapper ul li a:hover {
  color: rgb(245, 242, 45);
  font-size: 18px;
}

/***************** Css for main-content starts here ****************************/

.main-content {
  margin: 3% 0;
  background-color: aliceblue;
}

.col-4 {
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}

/***************** Css for footer ****************************/
.footer {
  background-color: blue;
  color: rgb(252, 250, 246);
}
.footer a {
  color: rgb(246, 16, 16);
}

.footer a:hover {
  color: yellow;
  text-decoration: none;
}

.footeranchor a {
  text-decoration: none;
}
